.container {
  min-height: 100vh;
  width: 100vw;
  background-color: #d6eaff;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 16px 24px;
}

.pageTitle {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.pageTitle2 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}

.pageTitle3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}

.goalsGrid {
  display: flex;
  gap: 16px;
}

@media (width <= 640px) {
  .goalsGrid {
    flex-direction: column;
  }
}

.reminders {
  background-color: #93a67e;
  border-radius: 10px;
  flex: 1;
  padding-top: 15px;
}

.reminderText {
  color: #fff;
  font-size: 11px;
  margin-bottom: 24px;
}

.reminderText:last-child {
  margin-bottom: 0;
}
