.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  position: relative;
}

.resumeButton {
  color: #fff;
  background-color: #93a67e;
  border: none;
  border-radius: 49px;
  width: 283px;
  height: 90px;
  margin: 20px auto;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: block;
}

.bottomSection {
  gap: 20px;
  margin-top: 40px;
  padding: 0 39px;
  display: flex;
}

@media (width <= 991px) {
  .bottomSection {
    flex-direction: column;
  }
}

@media (width <= 640px) {
  .resumeButton {
    width: 90%;
  }
}
